<html>

    <body>
        <h3>Sentiment Analysis NLP</h3>

        <div>
            <form action='/predict' method="POST">

                Write comment: <br>
                <textarea name="comment" rows="10" cols="30" required></textarea>  <br><br>

				<audio autoplay>
				  <source src={{ url_for('static', filename=audio_file) }}>
				</audio>
				
                Result: {{result}} <br><br>
				
				

                <input type='submit' value='Predict'>

            </form>
        </div>
        
    </body>

</html>
